.all-cart{
border: 2px solid black;
}
.main-diiv{
text-align: center;
}
@media only screen and (min-width: 600px) {
    .all-cart{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .main-diiv{
        display: grid;
      grid-template-columns:3fr 1fr;
    }
  }