.main-diiv{
text-align: center;
margin: 10px;
}
.display-name{
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    background-color: rgb(170, 231, 255);;
    border-radius: 16px ;
    box-shadow: 1px 1px 10px rgb(154, 226, 255);
    height: 500px;
    position: sticky;
    top: 30px;
    overflow-y: scroll;
   overflow-x: hidden;
}
.added-cart-name{
color: white;
text-shadow: 1px 1px 10px rgb(173, 173, 173);
}
.added-cart-names{
    color: white;
    text-shadow: 1px 1px 10px rgb(173, 173, 173);
    }
.display-rendom{
    padding: 8px 30px ;
    font-size: 17px;
    margin: 5px;
    color: white;
    border-radius: 16px;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgb(173, 232, 255);
    background-color: rgb(135, 211, 255);
    position: sticky;
    bottom: 100px;
}
.display-delets{
    padding: 8px 30px ;
    font-size: 17px;
    margin: 5px;
    color: white;
    border-radius: 16px;
    border: 3px solid white;
    box-shadow: 1px 1px 5px rgb(173, 232, 255);
    background-color: rgb(135, 211, 255);
    position: sticky;
    bottom: 50px;
}

@media only screen and (min-width: 800px) {
    .all-cart{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .main-diiv{
        display: grid;
      grid-template-columns:3fr 1fr;
    }
  }